<!DOCTYPE html>
<html>
<head>
  <title>AmkAuthentication</title>
  <%= stylesheet_link_tag    "amk_authentication/application", media: "all" %>
  <%= javascript_include_tag "amk_authentication/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
